h1,
h2,
h5,
h6 {
    text-align: center;
}

#title>h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(19, 1, 8);
    margin-bottom: 0;
}

#title>h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(19, 1, 8);
    margin-top: 0;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}

#footer_details {
    background-color: rgb(149, 100, 118);
    padding: 0.6vw 0.6vw;
    text-align: center;
    font-size: 2em;
}

.footer_details {
    font-size: 1.5rem;
    font-weight: bold;
}

#footer_details>ul>li {
    border-left: 0.25vw solid black;
    flex: 1;
}

#footer_details>ul>li:last-child {
    border: none;
}

#title {
    background-image: url("../images/viewForHomePage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6.6vw;
}

#rooms {
    background-image: url("../images/roomForHomePage.jpg");
}

#food {
    background-image: url("../images/foodForHomePage.webp");
}

#tour {
    background-image: url("../images/hourses.png");
}

#food,
#rooms,
#tour {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3.1vw;
    margin: 2.1vw;
}

.homeText {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 0 2.1vw;
    padding: 1.1vw;

}

#title>p {
    font-size: 2rem;
    padding: 2.1vw 1.1vw;
}


#amenities {
    display: flex;
}

#amenities>li {
    flex: auto;
    margin: 1rem;
    text-align: center;
}

#comment {
    text-align: center;
    background-color: rgb(248, 219, 229);
    padding: 0.2vw;
    font-size: 1.2rem;
    margin: 4.1vw 0 1.2vw 0;
}

a {
    color: black;
}

a:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 428px) {

    html,
    body {
        font-size: 13px;
    }

    h1 {
        font-size: 7.4rem;
    }

    .amenities {
        font-size: 1.5rem;
    }

    .footer_details {
        font-size: 1.5rem;
    }

    footer>div>ul {
        margin: 0.5vw;
    }

    #footer_details>ul>li>i {
        font-size: 3.2rem;
        padding-top: 1vw;
    }

    #amenities {
        display: grid;
        grid-gap: 0.2vw;
        grid-column: auto;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .unnes {
        display: none;
    }
}