main {
    margin-top: 7vw;
    background-color: rgba(255, 255, 255, 0.559);
    margin: 8% 6% 0 6%;
    padding: 5%;
    text-align: center;
}

img {
    width: 100%;
    position: fixed;
    top: -5vh;
    right: -0.01vw;
    z-index: -1;
}

body {
    text-align: center;
    font-weight: bold;
    color: rgb(19, 1, 8);
}

h1 {
    font-size: 6rem;
    margin: 1vw 0 2vw 0;
}

input {
    padding: 0.4vw 3.5vw;
    font-size: 1rem;
    text-align: center;
}

.inputs {
    margin: 1vw;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.4rem 0;
}

table {
    margin: 4vw;
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
    table-layout: center;
    box-shadow: 0.1rem 0.1rem 0.7rem black;
}

.table {
    display: none;
}

td {
    padding: 1vw 3vw;
    background-color: rgb(204, 176, 187);
    font-weight: normal;
}

th {
    padding: 1vw;
    background-color: rgb(204, 176, 187);
}

#roomsize {
    padding: 0.4vw 4vw;
    font-size: 1.3rem;
}

#pension_label {
    padding-left: 2vw;
}

h6 {
    margin: 2vw 0;
}

#telphone,
#fname,
#email {
    padding: 0.4vw 2vw;
    margin: 1vw;
}

@media (max-width: 428px) {
    table {
        display: none;
    }

    .table {
        display: block;
        box-shadow: 0.1rem 0.1rem 0.7rem;
    }

    img {
        display: none;
    }

    body {
        background-image: url('../images/gold\ labby.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}