.image-gallery {
    margin: auto;
    width: 90vw;
    height: 40vw;
    position: relative;
  }
  .image-container {
    width: 100%;
    height: 30vw;
    position: relative;
    overflow: hidden;
    background: #fff;
  }
  .thumbnails {
    width: 100%;
    display: flex;
  }
  .thumbnails label {
    display: inline-block;
    width: 150vw;
    height: 7vw;
    background-size: cover;
    margin: 0;
    flex: 1 1 150px;
    cursor: pointer;
  }
  .image-1, .image-2, .image-3, .image-4 {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 1.2s ease-out;
  }
  .image-1,
  .thumbnails label[for="image1"] {
    background-image: url('../images/bed room with view to the beach.jpg');
  }
  .image-2,
  .thumbnails label[for="image2"] {
    background-image: url('../images/a room with queen bed.jpg');
  }
  .image-3,
  .thumbnails label[for="image3"] {
    background-image: url('../images/couch in a hotel.jpg');
  }
  .image-4,
  .thumbnails label[for="image4"] {
    background-image: url('../images/living room.jpg');
  }
  #image1:checked + .image-1,
  #image2:checked + .image-2,
  #image3:checked + .image-3,
  #image4:checked + .image-4 {
    opacity: 1;
  }
  .image-gallery input[type="radio"] {
    position: absolute;
    top: 25vw;
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: #00000033;
    height: 16px;
    width: 16px;
    border: 3px solid #f1f1f1;
    border-radius: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 1px 4px #00000088;
  }
  .image-gallery input[type="radio"]:hover {
    background-color: #f7f7f780;
  }
  .image-gallery input[type="radio"]:checked {
    background-color: #f1f1f1;
  }
  .image-gallery input[type="radio"]:nth-of-type(1) {
    left: 50%;
    margin-left: -36px;
  }
  .image-gallery input[type="radio"]:nth-of-type(2) {
    left: 50%;
    margin-left: -12px;
  }
  .image-gallery input[type="radio"]:nth-of-type(3) {
    left: 50%;
    margin-left: 12px;
  }
  .image-gallery input[type="radio"]:nth-of-type(4) {
    left: 50%;
    margin-left: 36px;
  }
  
  .image-gallery label.prev,
  .image-gallery label.next {
    position: absolute;
    top: 50%;
    z-index: 100;
    color: #f1f1f1;
    text-shadow: 0px 1px 4px #00000088;
    font-family: "Georgia", "Apple Symbols", serif;
    font-size:40px;
    font-weight: 700;
    line-height:40px;
    text-align:center;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    cursor: pointer;
    opacity:0;
    transition: opacity 0.5s linear;
  }
  .image-gallery:hover label.prev,
  .image-gallery:hover label.next {
    opacity:1;
  }
  .image-gallery label.prev:before {
    content: '\003c'
  }
  .image-gallery label.next:before{
    content: '\003e'
  }
  .image-gallery label.prev{
    left: 10px;
  }
  .image-gallery label.next{
    right: 10px;
  }
  .image-gallery label.prev:hover,
  .image-gallery label.next:hover {
    margin-top: -22px;  
    text-shadow: 0px 3px 4px #00000088;
  }